<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Details Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Submit Transaction Details</h2>
            <form id="ccForm">
                Customer ID: <input type="text" name="customer_id"><br>
                Transaction Amount: <input type="text" name="tx_amount"><br>
                Terminal ID: <input type="text" name="terminal_id"><br>
                Transaction Payment: <input type="text" name="tx_payment"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="output-container">
            <h3>API Response:</h3>
            <div id="apiResponse" class="api-response"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
